footer {
    padding-top:2rem;
    height:6rem;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    p{
        color: $dark-blue;
        text-align: center;
    }
}
